.container
  margin: 30px auto
  max-width: 500px
  color: 333
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2)

.so-content
  background-color: #f3f3f3

.so-menu-content
  a
    margin: 40px 0
    display: block
    color: rgba(#fff, 0.7)
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
    font-size: 32px
    text-decoration: none

    &:hover
      color: #fff
      text-decoration: none
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)

  p
    color: rgba(#fff, 0.7)
    font-size: 18px
