.page-wrapper
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  width: auto
  height: auto

  > .content-overlay,
  > .content,
  > .page-menu
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: auto
    height: auto
    overflow-y: auto

  .content
    height: 100%
