/* line 1, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
.so-page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  background: transparent; }
  /* line 12, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper > .so-content-overlay,
  .so-page-wrapper > .so-content,
  .so-page-wrapper > .so-page-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow-y: auto; }
  /* line 24, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper .so-content,
  .so-page-wrapper .so-content-overlay {
    -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  /* line 28, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper .so-content {
    background-color: white;
    opacity: 1; }
  /* line 32, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper .so-menu-content {
    top: 50%;
    left: 20%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    /* line 38, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
    .so-page-wrapper .so-menu-content > * {
      opacity: 0;
      -webkit-transform: translateX(-80px);
      -moz-transform: translateX(-80px);
      -ms-transform: translateX(-80px);
      -o-transform: translateX(-80px);
      transform: translateX(-80px);
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
  /* line 44, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper.opened > .so-content-overlay {
    z-index: 1;
    cursor: pointer; }
  /* line 48, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper.opened > .so-content {
    opacity: 0.8; }
  /* line 51, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper.opened > .so-content, .so-page-wrapper.opened > .so-content-overlay {
    -webkit-transform: translate3d(40%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform: translate3d(40%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform: translate3d(40%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform: translate3d(40%, 0, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(40%, 0, 0) scale3d(0.8, 0.8, 1); }
  /* line 55, /Users/ace/Projects/spaced-out/source/stylesheets/components/_spaced_out_menu.sass */
  .so-page-wrapper.opened .so-menu-content > * {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
