---
title: Welcome to Middleman
---

<div class="page-wrapper">
  <aside class="page-menu">
    <ul class="menu-list">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </aside>
  <div class="content-overlay">
  </div>
  <div class="content">
    <div class="container">
      <a href="#" class="menu-toggle">
        Menu
      </a>
      <h1>Spaced Out Menu</h1>
      <p>
        Inspired by the menu at atmospherejs.com 
    </div>
  </div>
</div>
