---
title: Welcome to Middleman
---

<div class="so-page-wrapper">
  <aside class="so-page-menu">
    <div class="so-menu-content">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </aside>
  <div class="so-content-overlay">
  </div>
  <div class="so-content">
    <div class="container">
      <h1>SpacedOut</h1>
      <p>A small experiment.</p>
      <p>
        <strong>SpacedOut</strong> uses CSS transforms to create a space efficient menu. Saw the original menu for this design is at <a href="atmospherejs.com">atmospherejs.com</a>, decided to build it from scratch for future personal use.
      </p>
      <a href="#" class="so-menu-toggle btn">
        Open Menu
      </a>
    </div>
  </div>
</div>
