---
title: SpacedOut - Ace Subido
---

<div class="so-page-wrapper">
  <aside class="so-page-menu">
    <div class="so-menu-content">
      <p>
        Click the original body to close <br/>
        the menu or Hit the <strong>ESC key</strong>
      </p>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </aside>
  <div class="so-content-overlay">
  </div>
  <div class="so-content">
    <div class="container">
      <h1>SpacedOut</h1>
      <p>A three dimensional CSS3 Transform Sidebar</p>
      <p>
        <strong>SpacedOut</strong> uses CSS transforms to create a space efficient menu. Saw the original menu for this design is at <a href="http://atmospherejs.com">atmospherejs.com</a>, decided to build it from scratch for future personal use.
      </p>
      <p>
        Does not use jQuery. Usage and Documentation found in <a href="http://github.com/ace-subido/spaced-out">the github repository</a>
      </p>
      <p class="small">
        Made by Ace Subido | <a href="http://acesubido.com">http://acesubido.com</a>
      </p>
      <p>
        <a href="#" class="so-menu-toggle btn">
          Open Menu
        </a>
      </p>
      <hr>


      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ace-subido&repo=spaced-out&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>


      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ace-subido&repo=spaced-out&type=fork&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>


      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ace-subido.github.com/spaced-out/" data-text="SpacedOut A three dimensional CSS3 Transform Sidebar">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><br/>


    </div>
  </div>
</div>
